@font-face {
  font-family: "GaY Arial True Type font";
  src:
    url("/fonts/GayArialMT.ttf") format("truetype"),
    url("/fonts/gayarialmt-webfont.woff") format("woff"),
    url("/fonts/gayarialmt-webfont.woff2") format("woff");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: light;
}

header,
footer {
  text-align: center;
  margin: 10px 0;
}

h1 {
  text-align: center;
}
h2 {
  text-align: left; /* Aligns the title to the left */
  margin: 0 0 10px 0; /* Adds space below the title */
}
h3 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 5px solid blue;
  padding: 20px;
}
.container-titles {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1px;
  margin: 10px 0; /* Adds vertical space around the container */
  /* Optional: set a specific height if needed */
  height: 25px; /* Example fixed height */
}
.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.input-container,
.output-container {
  width: 65%; /* Adjust width accordingly */
  display: flex;
  flex-direction: column; /* Makes the h3 and textarea stack vertically */
}

textarea {
  height: 150px; /* Adjust height accordingly */
  padding: 8px;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

footer p {
  font-size: small;
}

button:hover {
  background-color: yellowgreen;
}

.GYATT {
  /*font-family: Courier;*/
  font-family: "GaY Arial True Type font", sans-serif;
  /*
padding: 1rem;
font-size: 2.75rem;
*/
}