@font-face {
  font-family: "GaY Arial True Type font";
  src:
    url("/fonts/GayArialMT.ttf") format("truetype"),
    url("/fonts/gayarialmt-webfont.woff") format("woff"),
    url("/fonts/gayarialmt-webfont.woff2") format("woff");
}

body,
html {
  background-color: #990000;
  margin: 0;
  padding: 0;
  font-family: "acumin-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

header,
footer {
  text-align: center;
  margin: 10px 0;
}
h1 {
  color:#990000;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}
h2 {
  text-align: left; 
  margin: 0 0 10px 0;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
}
h3 {
  text-align: center;
  font-weight: 500;
  font-style: normal;
  color:#990000
}

h4 {
  text-align: center;
  font-weight: 100;
}

.main-container {
  align-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 7px solid #990000;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 70px;
}
.container-titles {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1px;
  margin: 10px 0; 
  height: 4%;
  gap: 0%;
}
.container {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 5px;
}

.converter-container {
  flex-grow: 1; /* This will make each container fill the space */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 0 10px;
  gap: 4%;
}

textarea {
  font-family: "Arial";
  height: 300px; /* Adjust height accordingly */
  padding: 8px;
  flex-grow: 1; /* This will make each container fill the space */
  justify-content: center;
  align-content: center;
  flex-direction: row;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
  overflow: auto;
  border: 2px solid #990000;
  border-radius: 10px;
  border-color: #990000;
}

button {
  font-family: "acumin-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

footer p {
  font-size: small;
}

/*
button:hover {
  
}
*/

button:hover {
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  border-radius: 90%;
  cursor: wait;
}

.GYATT {
  /*font-family: Courier;*/
  font-family: "GaY Arial True Type font", sans-serif;
  /*
padding: 1rem;
font-size: 2.75rem;
*/
}